div{
    padding: 10px;  
  }
  select{
    padding: 5px;
  }

.textarea-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #555555;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}